<template>
  <q-page class="q-px-md">
    <div class="row flex flex-center">
      <div class="col-lg-5">
        <h3 class="text-h6 text-weight-regular flex flex-center text-center">Bienvenido al buzón de sugerencias y reclamos</h3>
        <q-form
          @submit="onSubmit"
          @reser="onReset"
          class="q-gutter-xs"
          ref="form"
        >
          <q-select class="q-my-lg" square outlined v-model="type" :options="typeOptions" label="Tipo" />

          <q-input
          outlined
          dense
          v-model="name"
          label="Nombre y apellidos"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Escribe tu nombre']"
        />

        <q-input
          outlined
          dense
          type="number"
          v-model="ci"
          label="Cédula de identidad"
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || 'Escribe tu cédula de identidad',
            val => val && val.length > 3 || 'Debe ser un numero real'
          ]"
        />

        <q-input
          outlined
          dense
          type="number"
          v-model="cel"
          label="Celular"
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || 'Escribe tu numero de celular',
            val => val && val.length > 7 || 'Debe ser un numero real'
          ]"
        />

        <q-input
          label="Reclamo y/o sugerencia"
          v-model="msg"
          outlined
          autogrow
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Escribe tu reclamo y/o sugerencia']"
        />
        <div class="q-my-lg">
          <q-btn label="Enviar" type="submit" color="primary" style="width: 100%" />
        </div>
        </q-form>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Buzon',
  data() {
    return {
      type: 'Reclamo',
      typeOptions: ['Reclamo', 'Sugerencia'],
      name: null,
      ci: null,
      cel: null,
      msg: null
    }
  },
  methods: {
    async onSubmit() {
      this.$q.loading.show({
        message: 'Enviando, un momento..'
      });
      const URI = "http://patioserviceonline.com/mailchavez/"
      try {
        const res = await this.$axios.post(URI, JSON.stringify({
          name: this.name,
          ci: this.ci,
          cel: this.cel,
          type: this.type,
          msg: this.msg
        }))
        // console.log(res);
        if (res.data.message == 'Enviado.') {
          this.$q.notify({
            color: 'green-5',
            textColor: 'white',
            icon: 'check',
            message: 'Se ha enviado tu mensaje.'
          })
          this.onReset();
          this.$refs.form.resetValidation()

        } else {
          this.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Ocurrio un error al enviar.'
          })
        }
      } catch (error) {
        console.log("ERROR SEND ORDER ", error);
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'No se pudo enviar.'
        })
      }
      this.$q.loading.hide();
    },
    onReset() {
      this.name = null;
      this.ci = null;
      this.cel = null;
      this.msg = null;
    }
  }
}
</script>
