<template>
  <q-page class="q-px-md">
    <h3 class="text-h6 text-weight-regular flex flex-center">Ya recibimos su pedido.</h3>
    <h3 class="text-subtitle1 text-weight-light flex flex-center">ID: <strong> {{ $route.params.ci }}</strong>.</h3>
    <h3 class="text-subtitle1 text-weight-light flex flex-center">Nuestro operador se comunicará con usted para confirmar el pedido en las próximas horas.</h3>
    <h3 class="text-subtitle1 text-weight-light flex flex-center">Gracias por confiar en nuestro servicio.</h3>
    <h3 class="text-subtitle1 text-weight-light flex flex-center">FARMACIAS CHÁVEZ, ante poniendo la salud a cualquier otro interés.</h3>
  </q-page>
</template>

<script>
export default {
  name: 'Completed'
}
</script>
