<template>
  <q-page class="q-px-md">
    <h3 class="text-h6 text-weight-regular flex flex-center">Su pedido ha sido recibido con éxito.</h3>
    <h3 class="text-subtitle1 text-weight-light flex flex-center">ID: <strong> {{ $route.params.ci }}</strong>.</h3>
    <h3 class="text-subtitle1 text-weight-light flex flex-center">Podrá pasar a recogerlo el día y la hora en la sucursal que eligió.</h3>
    <h3 class="text-subtitle1 text-weight-bold flex flex-center">Sucursal: {{ data.sucursal.nombre }} <br> Fecha: {{ fecha }} <br> Hora: {{ time }} <br>Distancia: {{ data.distance }}Km.</h3>
    <h3 class="text-subtitle1 text-weight-light flex flex-center">Agradecemos su preferencia.</h3>
    <h3 class="text-subtitle1 text-weight-light flex flex-center">Farmacias Chávez.</h3>
  </q-page>
</template>

<script>
import { LocalStorage } from 'quasar';

export default {
  name: 'Completed-pre',
  computed: {
    data() {
      return LocalStorage.getItem('sucursal') || '';
    },
    time() {
      return LocalStorage.getItem('hora') || '';
    },
    fecha() {
      return LocalStorage.getItem('fecha') || '';
    }
  }
}
</script>
