<template>
  <q-page class="q-px-md">
    <div class="row flex flex-center">
      <div class="col-lg-5">
        <h3 class="text-h6 text-weight-regular flex flex-center text-center">Reserva tu pedido.</h3>
        <formulario></formulario>
      </div>
    </div>
  </q-page>
</template>

<script>
import Formulario from '../components/Formulario';

export default {
  components: {
    Formulario
  },
  name: 'PageIndex'
}
</script>
