<template>
  <q-page class="q-px-md">
    <div class="row flex flex-center">
      <div class="col-lg-5">
        <h3 class="text-h6 text-weight-regular flex flex-center text-center">Solicita tu PREPEDIDO a la sucursal {{ data.sucursal.nombre }}</h3>
        <h6 class="q-mt-none q-mb-sm text--subtitle2 text-weight-light flex flex-center text-center">Distancia de {{ data.distance }} Km.</h6>
        <form-pre v-bind:sucursal="data"></form-pre>
      </div>
    </div>
  </q-page>
</template>

<script>
import FormularioPrePedido from '../components/FormularioPrePedido';
import { LocalStorage } from 'quasar';

export default {
  created() {
    if (this.data == '') {
      this.$router.replace({ name: "sesion" });
    }
  },
  components: {
    'form-pre': FormularioPrePedido
  },
  data() {
    return {

    }
  },
  methods: {

  },
  computed: {
    data() {
      return LocalStorage.getItem('sucursal') || ''
    }
  }
}
</script>
