<template>
  <div class="q-pa-md">
    <h3 class="text-h6 text-weight-regular flex flex-center text-center">Correspondiente a tu ubicación tenemos estas sucursales más cercanas a tí, selecciona una.</h3>
    <q-list bordered separator>
      <q-item v-for="(item, index) in sucursalesCercanas" :key="index" clickable v-ripple  @click="selectSucursal(item)">
        <q-item-section>
          <q-item-label>{{ item.sucursal.nombre }}</q-item-label>
          <q-item-label caption>Se encuentra a {{ item.distance }} KM de Distancia</q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-icon color="primary" name="location_on" />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { LocalStorage } from 'quasar';
import  L  from 'leaflet';

export default {
  created() {
    if (this.lat != '' && this.lng != '') {
      this.filtrarSucursal();
    } else {
      this.$router.replace({ name: "sesion" });
    }
  },
  data() {
    return {
      L: L,
      sucursales: [
        { nombre: 'PARAGUÁ', dir: 'Av. PARAGUA ESQ. AV. JAPON (3º ANILLO EXTERNO)', coords: [-17.769516, -63.155220] },
        { nombre: 'GRIGOTÁ', dir: 'Av. DOBLE VIA LA GUARDIA B./ LAS PALMAS (3º ANILLO EXTERNO)', coords: [-17.804999, -63.200922] },
        { nombre: 'SANTOS DUMONT', dir: 'Av. SANTOS DUMONT (4º ANILLO)', coords: [-17.823131, -63.183869] },
        { nombre: 'CRISTO REDENTOR', dir: 'Av. CRISTO REDENTOR (4º Y 5º ANILLO C# 1)', coords: [-17.745020, -63.173219] },
        { nombre: '02 - CAÑOTO', dir: 'Av. CAÑOTO ESQ. MERCADO (1º ANILLO)', coords: [-17.789272, -63.187359] },
        { nombre: 'IRALA', dir: 'Av. IRALA Nº 465 (1º ANILLO)', coords: [-17.792216, -63.179254] },
        { nombre: 'VIEDMA', dir: 'Av. VIEDMA ESQ. CALLE WARNES (1º ANILLO)', coords: [-17.785649, -63.172065] },
        { nombre: 'AV. BUSCH - MACORORó 8', dir: 'Av. BUSCH, CALLE 12 OESTE, EDIFICIO MACORORÓ 8', coords: [-17.772242, -63.201428] },
        { nombre: 'ALEMANA PROSALUD', dir: 'Av. ALEMANA FRENTE A PROSALUD (2º y 3º ANILLO)', coords: [-17.767043, -63.169669] },
        { nombre: 'TROMPILLO', dir: 'Av. TROMPILLO B/ AERONÁUTICO (2º ANILLO) (MADRE INDIA)', coords: [-17.798444, -63.175448] },
        { nombre: 'REMANSO KM8', dir: 'Av. CRISTO REDENTOR URB. EL REMANSO (7º ANILLO)', coords: [-17.716052, -63.162250] },
        { nombre: 'VILLA 1º DE MAYO', dir: 'Av. PRINCIPAL ENTRE CUMAVI y 3 PASOS AL FRENTE (CALLE 12 OESTE)', coords: [-17.799516, -63.135176] },
        { nombre: 'BENI HAMACAS', dir: 'Av. BENI ESQ. CALLE PORESAQUI (3º y 4º ANILLO)', coords: [-17.755742, -63.172192] },
        { nombre: 'RADIAL 26', dir: 'ESQ. RADIAL 26 (4º ANILLO)', coords: [-17.750121, -63.186602] },
        { nombre: 'BAJIO', dir: 'Av. DOBLE VÍA LA GUARDIA KM. 6', coords: [-17.830044, -63.229045] },
        { nombre: 'EQUIPETROL', dir: 'Av. SAN MARTÍN SUPERMERCADO FIDALGA (3º y 4º ANILLO)', coords: [-17.760644, -63.198313] },
        { nombre: 'MUTUALISTA ROTONDA', dir: 'Av. MUTUALISTA ROTONDA (3º ANILLO EXTERNO)', coords: [-17.763494, -63.159483] },
        { nombre: 'PIRAI', dir: 'Av. PIRAÍ (4º ANILLO)', coords: [-17.798001, -63.216316] },
        { nombre: 'SEVILLA', dir: 'CARRETERA AL NORTE KM 10, COMERCIAL LA ESQUINA DE SEVILLA', coords: [-17.682338, -63.149875] },
        { nombre: 'ALEMANA 7MO', dir: 'Av. ALEMANA SURTIDOR  TRES ASES (7º ANILLO)', coords: [-17.730535, -63.150242 ] },
        { nombre: 'PAMPA DE LA ISLA', dir: 'Av. VIRGEN DE COTOCA ESQ. Av. MONTECRISTO (PASANDO EL TRILLO)', coords: [-17.767645, -63.115135] },
        { nombre: 'BENI 4TO ANILLO', dir: 'Av. BENI (4º ANILLO)', coords: [-17.750976, -63.169915] },
        { nombre: 'PLAN POCITOS', dir: 'MERCADO LOS POCITOS FRENTE AL HOSPITAL MUNICIPAL', coords: [-17.838533, -63.110123] },
        { nombre: 'HACIENDA III', dir: 'Av. BANZER (7º ANILLO) ENTRANDO A  IZQUIERDA, LADO COND. HACIENDA III', coords: [-17.723546, -63.168999] },
        { nombre: 'VIRGEN DE LUJAN', dir: 'AV. VIRGEN DE LUJAN Y BATEON SURTIDOR SANTA MARIA # 3', coords: [-17.735246, -63.101262] },
        { nombre: 'PERO VELEZ', dir: 'Zona Norte, Km 8 ½, Ingreso La Pradera,  Tras Condominio Casa Club Norte', coords: [-17.700958, -63.168241] },
        { nombre: '2 DE AGOSTO 8VO', dir: 'Av. 2 DE AGOSTO (8º ANILLO)', coords: [-17.726628, -63.138518] },
        { nombre: 'MONTERO', dir: 'C/INDEPENDENCIA FRENTE A LA PLAZA PRINCIPAL', coords: [-17.341671, -63.255698] },
        { nombre: 'WARNES', dir: 'Av. PRINCIPAL SURTIDOR EL VALLE (INGRESO A WARNES)', coords: [-17.516886, -63.164438] },
        { nombre: 'YAPACANÍ', dir: 'Av. PRINCIPAL EPIFANIO RÍOS (LADO PARROQUIA MARÍA AUXILIADORA)', coords: [-17.403010, -63.882032] },
        { nombre: 'COTOCA', dir: 'Av. SANTA CRUZ (FRENTE A LA ROTONDA DEL INGRESO PRINCIPAL A COTOCA)', coords: [-17.756023, -63.001274] },
        { nombre: 'SAN IGNACIO DE VELASCO', dir: 'PLAZA PRINCIPAL SAN IGNACIO', coords: [-16.373207, -60.960437] }
      ],
      sucursalesCercanas: []
    }
  },
  methods: {
    filtrarSucursal() {
      const center = L.latLng(this.lat, this.lng);
      var sucursalesAux = this.sucursales;
      for (let index = 1; index <= 3; index++) {
        var arr = this.calcularSucursal(index, center, sucursalesAux);
        this.sucursalesCercanas.push({sucursal: this.sucursales[arr[0]], distance: parseInt(arr[1] / 1000)});
        sucursalesAux.splice(arr[0], 1);
      }
    },
    calcularSucursal(index, center, sucursalesAux) {
      var indexCercano, distanciaCorta;
      for (var i= 0; i < sucursalesAux.length; i++) {
        var distance = center.distanceTo(sucursalesAux[i].coords);
        if (!distanciaCorta || distanciaCorta > distance) {
          indexCercano = i
          distanciaCorta = distance
        }
      }
      return [indexCercano, distanciaCorta];
    },
    // calcularSucursal() {
    //   const center = L.latLng(this.lat, this.lng);
    //   var indexCercano, DistanciaCorta;
    //   for (var i= 0; i < this.sucursales.length; i++) {
    //     var distance = center.distanceTo(this.sucursales[i].coords);
    //     if (!DistanciaCorta || DistanciaCorta > distance) {
    //       indexCercano = i
    //       DistanciaCorta = distance
    //       this.sucursalesCercanas.push({sucursal: this.sucursales[i], distance: parseInt(DistanciaCorta / 1000)});
    //     }
    //   }
    //   this.sucursalesCercanas = this.sucursalesCercanas.reverse();
    // },
    selectSucursal(item) {
      LocalStorage.set('sucursal', item);
      this.$router.replace({name: 'prepedido'});
    }
  },
  computed: {
    lat() {
      return LocalStorage.getItem('user-lat') || '';
    },
    lng() {
      return LocalStorage.getItem('user-lng') || '';
    }
  }
}
</script>