<template>
  <div>
    <q-dialog v-model="viewMap" persistent>
      <q-card style="min-width: 350px">
          <div class="content-dialog">
            <div class="map-container">
              <div class="map-marker-centered">
                <q-img :src="require('../assets/marker-home.png')"></q-img>
              </div>
              <l-map
                ref="myMap"
                style="z-index: 0; position: relative; height: 100%; width: 100% "
                :zoom="zoom"
                :center="center"
                :options="{zoomControl: false}"
                @update:center="centerUpdated"
              >
                <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
              </l-map>
            </div>
          </div>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Seleccionar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <h3 class="text-h6 text-weight-light q-pb-xs">Ingresa tus datos.</h3>
     <q-form
      @submit="onSubmit"
      class="q-gutter-xs"
    >
      <q-input
        outlined
        dense
        v-model="name"
        placeholder="Nombre y apellidos"
        :rules="[ val => val && val.length > 0 || 'Escribe tu nombre']"
      />

      <q-input
        outlined
        dense
        type="number"
        v-model="ci"
        placeholder="Cédula de identidad"
        :rules="[
          val => val !== null && val !== '' || 'Escribe tu cédula de identidad',
          val => val && val.length > 3 || 'Debe ser un numero real'
        ]"
      />

      <q-input
        outlined
        dense
        type="number"
        v-model="cel"
        placeholder="Celular"
        :rules="[
          val => val !== null && val !== '' || 'Escribe tu numero de celular',
          val => val && val.length > 7 || 'Debe ser un numero real'
        ]"
      />

      <q-input
        placeholder="Escribe tu pedido. 
  Ejm.:
    - 2 paracetamol de 500mg
    - 1 dioxadol
    "
        v-model="order"
        outlined
        autogrow
        :rules="[ val => val && val.length > 0 || 'Escribe tu pedido']"
      />

      <div class="row q-gutter-x-md flex flex-center">
          <q-input
          style="width:45%"
            outlined
            dense
            v-model="nameNit"
            placeholder="Razón Social"
          />

          <q-input
          style="width:45%"
            outlined
            dense
            v-model="nit"
            placeholder="NIT"
          />
      </div>

      <q-select class="q-mt-lg" square outlined v-model="payment" :options="paymentOptions" label="Método de pago" />

      <q-separator inset class="q-mt-lg" />
      <h3 class="q-pt-xs text-subtitle1 text-weight-light flex flex-center">Tu dirección</h3>

      <q-input
        placeholder="Ejm.: B. Urbari C. Dechia Nro 282 Porton negro"
        v-model="address"
        outlined
        autogrow
        :rules="[ val => val && val.length > 0 || 'Escribe tu pedido']"
      />

      <q-list bordered separator>
        <q-item tag="label" v-ripple class="q-my-sm" @click="getLocation">
          <q-item-section avatar>
            <q-radio v-model="typeLocation" val="location" @input="changedLocation" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mi ubicación actual</q-item-label>
            <q-item-label caption>Activa tu GPS para obtener tu ubicación</q-item-label>
          </q-item-section>
        </q-item>

        <q-item tag="label" v-ripple class="q-my-sm" @click="viewMap = true">
          <q-item-section avatar>
            <q-radio v-model="typeLocation" val="selectMap" @input="changedLocation" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Seleccionar una ubicación</q-item-label>
            <q-item-label caption>Muestra el mapa para seleccionar una ubicación manualmente</q-item-label>
          </q-item-section>
        </q-item>

      </q-list>

      <q-separator inset class="q-mt-lg" />
      <h3 class="q-pt-xs q-mb-none text-subtitle1 text-weight-light flex flex-center">Fecha y Hora</h3>
      <h3 class="q-pt-none q-mt-none text-subtitle2 text-weight-thin flex flex-center">Especifica el día y hora que irás por tu pedido a la sucursal {{ this.sucursal.sucursal.nombre }}</h3>

      <q-select outlined v-model="fecha" :options="fechaOptions" square label="Fecha" :rules="[ val => !!val || 'Por favor selecciona el día' ]">
        <template v-slot:prepend>
          <q-icon name="date_range" />
        </template>
      </q-select>

      <q-select outlined v-model="hora" :options="horaOptions" square label="Horario" :rules="[ val => !!val || 'Por favor selecciona un horario' ]">
        <template v-slot:prepend>
          <q-icon name="access_time" />
        </template>
      </q-select>

      <div class="q-my-lg">
        <q-btn label="Enviar" type="submit" color="primary" style="width: 100%" />
      </div>
    </q-form>
  </div>
</template>

<script>
import { LMap, LTileLayer } from "vue2-leaflet";
import 'leaflet/dist/leaflet.css'
import moment from 'moment';
import { LocalStorage } from 'quasar';

moment.locale('es');

export default {
  props: ['sucursal'],
  components: { "l-map": LMap, "l-tile-layer": LTileLayer },
  name: 'Fomulario',
  created() {
    this.cargarFechas();
  },
  data () {
    return {
      name: null,
      cel: null,
      order: null,
      address: null,
      ci: null,
      nit: '',
      nameNit: '',
      payment: 'Efectivo',
      paymentOptions: ['Efectivo', 'Tarjeta de Débito/Crédito'],
      hora: '',
      horaOptions: ['Entre las 7 y 8 de la mañana', 'Entre las 8 y 9 de la mañana', 'Entre las 9 y 10 de la mañana', 'Entre las 10 y 11 de la mañana', 'Entre las 11 y 12 del medio dia', 'Entre las 12 y 1 de la tarde', 'Entre las 1 y 2 de la tarde', 'Entre las 2 y 3 de la tarde', 'Entre las 3 y 4 de la tarde', 'Entre las 4 y 5 de la tarde', 'Entre las 5 y 6 de la tarde', 'Entre las 6 y 7 de la noche', 'Entre las 7 y 8 de la noche', 'Entre las 8 y 9 de la noche', 'Entre las 9 y 10 de la noche', 'Entre las 10 y 11 de la noche'],
      fecha: '',
      fechaOptions: [],

      location: false,
      viewMap: false,

      typeLocation: null,

      zoom: 13,
      center: [-17.783384, -63.18203],
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }
  },
  methods: {
    onSubmit () {
      if (this.location !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Selecciona un método para ubicarte'
        })
      }
      else {
        this.sendOrder();
      }
    },
    cargarFechas() {
      this.fechaOptions = [];
      for (let index = 1; index <= 5; index++) {
        var day = moment().add(index, 'days').format('dddd, DD MMMM');
        this.fechaOptions.push(day);
      }
    },
    async sendOrder() {
      this.$q.loading.show({
        message: 'Enviando la orden, un momento..'
      });
      const URI = "https://patioserviceonline.com/apimailchavez/"
      const created = moment().format('dddd, DD MMMM hh:mm a');
      try {
        const res = await this.$axios.post(URI, JSON.stringify({
          sucursal: this.sucursal.sucursal.nombre,
          distance: this.sucursal.distance,
          name: this.name,
          ci: this.ci,
          nit: this.nit,
          nameNit: this.nameNit,
          payment: this.payment,
          cel: this.cel,
          order: this.order,
          address: this.address,
          coords: this.center,
          time: this.hora,
          date: this.fecha,
          created: created
        }))
        if (res.data.message == 'Orden enviada.') {
          LocalStorage.set('hora', this.hora);
          LocalStorage.set('fecha', this.fecha);
          this.$router.replace({ name: "completed-prepedido", params: { ci: this.ci} });
        } else {
          this.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Ocurrio un error al enviar el pedido.'
          })
        }
      } catch (error) {
        console.log("ERROR SEND ORDER ", error);
      }
      this.$q.loading.hide();
    },
    centerUpdated(center) {
      this.center = [center.lat, center.lng];
    },
    changedLocation() {
      this.location = true;
    },
    async getLocation() {
      this.$q.loading.show({
        message: 'Obteniendo tu ubicación, un momento..'
      });
      try {
        await this.getCoords();
      } catch (e) {
        console.log('ERR LOCATION', e);
      } 

      this.$q.loading.hide();
    },
    getCoords() {
      if (!navigator.geolocation) {
        return alert(
          "Tu navegador no soporta el acceso a la ubicación. Intenta con otro"
        );
      }

      const onUbicacionConcedida = ubicacion => {
        this.lat = ubicacion.coords.latitude;
        this.lng = ubicacion.coords.longitude;
        this.center = [this.lat, this.lng];
      };

      const onErrorDeUbicacion = err => {
        console.log("Error obteniendo ubicación: ", err);
      };

      const opcionesDeSolicitud = {
        enableHighAccuracy: true,
        maximumAge: 0
      };

      navigator.geolocation.getCurrentPosition(
        onUbicacionConcedida,
        onErrorDeUbicacion,
        opcionesDeSolicitud
      );
    }
  }
}
</script>

<style lang="scss">
  .content-dialog {
    color: white;
    width: 100%;
    height: 350px;
  }
  .map-container {
    position: relative;
    width: 100%;
    height: 350px;
  }
  .map-marker-centered {
    width: 50px;
    height: 60px;
    position: absolute;
    z-index: 99;
    left: calc(50% - 25px);
    top: calc(50% - 45px);
    transition: all 0.4s ease;
  }
</style>