<template>
  <div style="width: 350px">
    <div class="content-dialog">
      <div class="info pa-2">
        <h6
          class="body-1 font-weight-light"
        >Puedes mover el mapa para que la ubicacion sea mas precisa</h6>
      </div>
      <div class="map-container" style="width: 350px">
        <div class="map-marker-centered">
          <v-img :src="require('../assets/marker-home.png')"></v-img>
        </div>
        <l-map
          ref="myMap"
          style="z-index: 0; position: relative; height: 80%; width: 100% "
          :zoom="zoom"
          :center="center"
          :options="{zoomControl: false}"
          @update:center="centerUpdated"
          @leafletEventName="getLocation"
        >
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        </l-map>
      </div>
    </div>
  </div>
</template>

<script>
import { LMap, LTileLayer } from "vue2-leaflet";
import 'leaflet/dist/leaflet.css'

export default {
  components: { "l-map": LMap, "l-tile-layer": LTileLayer },
  name: "Map",
  data() {
    return {
      zoom: 13,
      center: [-17.783384, -63.18203],
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    };
  }
};
</script>

<style lang="scss">
  .content-dialog {
    color: white;
    width: 100%;
    height: 400px;
  }
  .map-container {
    position: relative;
    width: 100%;
    height: 400px;
  }
  .map-marker-centered {
    width: 50px;
    height: 60px;
    position: absolute;
    z-index: 99;
    left: calc(50% - 25px);
    top: calc(50% - 90px);
    transition: all 0.4s ease;
  }
</style>