<template>
<div>
  <q-dialog v-model="confirm" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-item>
            <q-avatar icon="gps_fixed" color="primary" text-color="white" />
            <span class="q-ml-md">Es necesario acceder a tu ubicación para localizar las sucursales más cercanas.</span>
        </q-item>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Permitir Ubicación" color="primary" @click="setPermission" />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <div class="q-mt-lg">
    <!-- <q-img src="../statics/logo-ps.png" style="max-width: 100%; height: 120px;" contain /> -->
  </div>
  <div class="text-center q-mt-lg">
    <q-circular-progress
      indeterminate
      size="50px"
      color="cyan"
      class="q-ma-md"
    />
  </div>
</div>
</template>
<script>
import { LocalStorage } from 'quasar'

export default {
  data() {
    return {
      confirm: true
    }
  },
  methods: {
    setPermission() {
      this.confirm = false;
      this.getCoords();
    },
    getCoords() {
      if (!navigator.geolocation) {
        return alert(
          "Tu navegador no soporta el acceso a la ubicación. Intenta con otro"
        );
      }

      const onUbicacionConcedida = ubicacion => {
        LocalStorage.set('user-lat', ubicacion.coords.latitude);
        LocalStorage.set('user-lng', ubicacion.coords.longitude);
        this.$router.replace({ name: "sucursales" });
      };

      const onErrorDeUbicacion = err => {
        this.getCoords();
        console.log("Error obteniendo ubicación: ", err);
      };

      const opcionesDeSolicitud = {
        enableHighAccuracy: true,
        maximumAge: 0
      };

      navigator.geolocation.getCurrentPosition(
        onUbicacionConcedida,
        onErrorDeUbicacion,
        opcionesDeSolicitud
      );
    }
  }
};
</script>