<template>
  <q-layout view="hHh lpR lfr">
    <q-header class="bg-primary shadow-up-2 q-py-xs" >
      <q-toolbar>
        <q-avatar>
          <img src="../assets/logo.jpg">
        </q-avatar>
        <q-toolbar-title>
          <span class="text-h5 text-weight-bold title-1">Farmacia </span>
          <span class="text-h6 text-weight-regular title-2">Chávez</span>
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-2 text-grey-6 flex flex-center">
      <q-toolbar>
        <q-toolbar-title class="text-center text-caption">
          Copyright &copy; 2020 - HolaPatio by PatioService
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',

  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
  .title-1 {
    color: #fff;
  }
  .title-2 {
    color: #fcfcfc;
  }
</style>
